DATABASE_URL_ASYNC=mysql+asyncmy://root:root@localhost:8889/mantoflota
DATABASE_URL_SYNC=mysql+pymysql://root:root@localhost:8889/mantoflota
TEST_DATABASE_URL_ASYNC=mysql+asyncmy://root:root@localhost:8889/mantoflota_test
TEST_DATABASE_URL_SYNC=mysql+pymysql://root:root@localhost:8889/mantoflota_test
CORS_ORIGINS=http://localhost:3000
JWT_SECRET_KEY=cambiar-por-un-secreto-largo-en-produccion
